In [1]:
#Understand three Chicago datasets
#Load the three datasets into three tables in a SQLIte database
#Execute SQL queries to answer assignment questions

In [3]:
#Store the datasets in database tables

In [8]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.21-cp310-cp310-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 2.6 MB/s eta 0:00:00
Requirement already satisfied: ipython-genutils in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Using cached sqlparse-0.4.4-py3-none-any.whl (41 kB)
Collecting prettytable
  Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: ipython in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=5 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: matplotlib-inline in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.21 sqlparse-0.4.4
Note: you may need to restart the kernel to use updated packages.

In [9]:
%load_ext sql

In [12]:
import csv, sqlite3

con = sqlite3.connect("chicagodata.db")
cur = con.cursor()

In [13]:
%sql sqlite:///chicagodata.db

In [14]:
import pandas

df = pandas.read_csv('https://data.cityofchicago.org/resource/kn9c-c2s2.csv')
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv('https://data.cityofchicago.org/resource/9xs2-f89t.csv')
df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv('https://data.cityofchicago.org/resource/ijzp-q8t2.csv')
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False,method="multi")

1000

In [15]:
#Find the total number of crimes recorded in the CRIME table
%sql select count(*) from CHICAGO_CRIME_DATA;

 * sqlite:///chicagodata.db
Done.

[(1000,)]

In [16]:
#List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)
%sql select case_number from CHICAGO_CRIME_DATA where DESCRIPTION like '%minor%'

 * sqlite:///chicagodata.db
Done.

[('JG428589',),
 ('JG428547',),
 ('JG428521',),
 ('JG428437',),
 ('JG428436',),
 ('JG428073',),
 ('JG427778',),
 ('JG427394',),
 ('JG427419',),
 ('JG427329',),
 ('JG427375',)]

In [17]:
# What kinds of crimes were recorded at schools
%sql select distinct(PRIMARY_TYPE) from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%school%'

 * sqlite:///chicagodata.db
Done.

[('BATTERY',),
 ('OTHER OFFENSE',),
 ('CRIMINAL TRESPASS',),
 ('ROBBERY',),
 ('THEFT',),
 ('CRIMINAL DAMAGE',)]

In [19]:
#List the average safety score for each type of school.

%sql select elementary_or_high_school,AVG(safety_score) from CHICAGO_PUBLIC_SCHOOLS group by (elementary_or_high_school)

 * sqlite:///chicagodata.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [20]:
#List 5 community areas with highest % of households below poverty line

%sql select  community_area_name,percent_households_below_poverty from CENSUS_DATA order by 2 desc limit 5

 * sqlite:///chicagodata.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [21]:
#Which community area is most crime prone?

%sql select count(community_area), community_area  from CHICAGO_CRIME_DATA group by(community_area) order by 1 desc limit 1

 * sqlite:///chicagodata.db
Done.

[(45, 8)]

In [22]:
#Use a sub-query to find the name of the community area with highest hardship index

%sql select community_area_name from CENSUS_DATA where hardship_index=(select max(hardship_index) from CENSUS_DATA )

 * sqlite:///chicagodata.db
Done.

[('Riverdale',)]