In [1]:
import numpy as np
import pandas as pd

In [6]:
#pass a list of two or more of index arrays
df = pd.DataFrame(np.random.rand(4,2),
                 index=[['a', 'a', 'b', 'b'],[1, 2, 1, 2]],
                 columns=['data1', 'data2'])
print(df)

        data1     data2
a 1  0.021790  0.643969
  2  0.101676  0.165417
b 1  0.038641  0.924299
  2  0.733423  0.002384

In [9]:
#pass a dictionary with appropriate tuples as keys
data = {('California', 2000): 33871648,
('California', 2010): 37253956,
('Texas', 2000): 20851820,
('Texas', 2010): 25145561,
('New York', 2000): 18976457,
('New York', 2010): 19378102}

pop = pd.Series(data)

In [8]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'],[1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [33]:
pop.index.names = ['states', 'years']
print(pop)
pop.unstack(level=1)

states      years
California  2000     33871648
            2010     37253956
Texas       2000     20851820
            2010     25145561
New York    2000     18976457
            2010     19378102
dtype: int64

years           2000      2010
states
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [12]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([['2013', '2014'],[1, 2]],
                                      names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                      names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

#create a DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
print(health_data)

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      54.0  38.2  53.0  36.6  43.0  38.5
     2      49.0  36.3  41.0  36.2  43.0  38.4
2014 1      25.0  36.5  29.0  35.8  41.0  35.5
     2      39.0  38.5  30.0  37.1  43.0  37.4

In [35]:
data_mean= health_data.mean(level='year')

C:\Users\User\AppData\Local\Temp\ipykernel_200\221363600.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  data_mean= health_data.mean(level='year')