In [41]:
import numpy as np
import pandas as pd

x = pd.Series([1, 2, 3, 4, 5],index=['a', 'b', 'c', 'd', 'e'])
x['g']=7
x[(x>2) & (x<6)]

c    3
d    4
e    5
dtype: int64

In [30]:
print(x['c'])

3

In [31]:
print(x['b':'e'])
print(x.iloc[1:3])

b    2
c    3
d    4
e    5
dtype: int64
b    2
c    3
dtype: int64

In [12]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}

population=pd.Series(population_dict)
print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [15]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

location = pd.DataFrame({'area':area, 'population':population})
print(location)

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135

In [16]:
location.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [17]:
location.columns

Index(['area', 'population'], dtype='object')

In [18]:
location['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [21]:
pd.DataFrame([{'a':1, 'b':5},{'a':4, 'b':3}])

   a  b
0  1  5
1  4  3

In [25]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.217234  0.073700
b  0.754428  0.752642
c  0.418829  0.903334

In [51]:
location['density']= location['population']/location['area']
print(location)

              area  population     density
California  423967    38332521   90.413926
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763

In [54]:
print(location.loc['Texas':'New York','population':'density'])

          population     density
Texas       26448193   38.018740
New York    19651127  139.076746

In [55]:
print(location.iloc[:3,:3])

              area  population     density
California  423967    38332521   90.413926
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746

In [7]:
import numpy as np
rng = np.random.RandomState(42)
r=rng.randint(0, 10, 4)
print(r)

[6 3 7 4]

In [8]:
import pandas as pd
ser = pd.Series(rng.randint(0, 10, 4))
print(ser)

0    6
1    9
2    2
3    6
dtype: int32

In [10]:
np.mean?